/* Config. geral */
h1 {
    color: #025A12;
}

p {
    color: black;
    text-align: justify;
}




/* Inicio banner */

.banner {
    width: 100%;
    height: 200px;
    background-color: #025A12;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.banner h1{
    color: white;
}

.banner img{
    width: 100px;
    margin-right: 50px;
}

/* Fim banner */

/* Inicio "O que é a IPB"? */

#div_oQueé {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    
}

#div_oQueé a{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #025A12;
    
}

#div_texto {
    width: 500px;
}

#div_doutrinas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 240px;
    background-color: #025A12;
    border-radius: 40px;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
    
}

#div_doutrinas p  {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
    font-size: 35px;
    margin-top: -35px;
}

/* Final "o que é?" */

/* Inicio história */

#div_historia {
    margin-top: 50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* Final história */

/* Inicio Bio */
#div_bio {
    display: flex;  
    background-color: #025A12;
    align-items: center;
    margin-top: 50px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 10px; 
}

#div_bio h1{
    color: white;
}

#div_bio p {
    color: antiquewhite;
    margin-right: 2.5%;
}

#div_bio img{
    width: 80%;
    padding: 20px;
    
}

/* Final bio */