#div_download {
    width: auto;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 200px;
    align-items: center;
}

#div_download ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    align-items: center;
}

#div_download li {
    color: white;
    width: 200px;
    padding: 10px;
    text-decoration: none;
    
}

#div_download p {
    text-align: center;
    background-color: #262626;
    padding: 20px;

}