
/* Inicio do banner */
.banner {
    width: 100%;
    height: 200px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: white;
}
/* Final do banner */



/* Inicio do Sobre nós */
.who {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

#div_container {
    width: 100%;
display: flex;
justify-content: space-around;
text-align: center;
}

#div_direita  {
    width: 500px;
}

#div_direita img{
    height: 200px;
    width: 400px;
    margin: 20px;
}

#div_esquerda {
    width: 500px;
}

#div_esquerda p {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Final do Quem Somos */


.estatistica {
    width: auto;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.estatistica ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.estatistica li {
    background-color: #262626;
    color: white;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    

}

.metricaDados{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.estatistica p {
    margin-bottom: 0;
    width: 150px;
}
/* Final do estatística */

/* Começo da Diretoria */
#sec_diretoria {
width: 100%;
margin-top: 50px;
display: flex;
flex-direction: column;
}

#sec_diretoria img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

#sec_diretoria ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sec_diretoria li{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content:space-between ;
}